<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>87518415205-l2tefpa7ljf3cpsmeotajjhit7396bb5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.87518415205-l2tefpa7ljf3cpsmeotajjhit7396bb5</string>
	<key>API_KEY</key>
	<string>AIzaSyBsJIuEmAQyk3ASPJ6S4wgNj4PVLkTj2uc</string>
	<key>GCM_SENDER_ID</key>
	<string>87518415205</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskManagement</string>
	<key>PROJECT_ID</key>
	<string>saveworld-12120</string>
	<key>STORAGE_BUCKET</key>
	<string>saveworld-12120.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:87518415205:ios:aca8bcba5c22d87d2c398c</string>
</dict>
</plist>